body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color:burlywood;
    font-size: 20px;
}

form{
    width: 100%;
    border: 1px solid black;
}

legend {
    text-align: center;
    border: 1px solid black; /* Menambahkan border berwarna hitam */
}
.back, a{
    margin-top: 5px;
    background-color: #2880b9;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}
select {
    font-size: 15px; /* Mengatur ukuran font pada opsi menjadi 20px */
}
